<html>
<title> SignIn Form </title>
<head>
    <link rel="shortcut icon" type="image/jpg" href="/img/websiteLogo.png"/>
    <link rel="stylesheet" type="text/css" href="/css/register.css">
    <script type="text/javascript" src="/js/signin.js">

    </script>
</head>


<body>
    <div class="h1">
     
    </div>
    <div class="btn">

<div class="header-right">
  
    <div class="box" id="login-box">
        <form  name="myform" onsubmit= "return validateForm()" method="post">
            <div class="left">
                <h1>Sign In</h1>
                <p>Please fill in this form to sign in.</p>
                
                <input class="signinbox" type= "text" name= Username placeholder="Username" required>
                <input class="signinbox" type= "password" name= Password placeholder="Password" required>
                     I certify that I am 18 years of age or older, and I agree to
                           <br>the<a href="#"> Terms and condition </a> 
                       and<a href="#"> Privacy policy</a><br> 
                       <br>
                       <input class="signupbtn" type = "submit" name= Login >
              </div>
        </form>
    </div>
    
</body>
</html>