<html>
<title> Sign Up Form </title>
<head>
    <link rel="shortcut icon" type="image/jpg" href="/img/websiteLogo.png"/>
    
    <link rel="icon" type="image/jpg" href="/img/websiteLogo.png"/>

    <!-- <link rel="stylesheet" type="text/css" href="/css/MyStyle.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/register.css">
    <script type="text/javascript" src="/js/formValidation.js">
    </script>
</head>



<body>
   
    <div class="btn">
        <div class="header-right">
        
      </div>

    
<div class="box" id="login-box">
    <form name="myform" onsubmit= "return validateForm()" method="post" action="">
          <div class="left">
            <h1>Sign up</h1>
            
            <input class="signinbox" type= "text" name= Username placeholder="Username" required>
            <input class="signinbox" type="email" name= Email placeholder="E-mail" required>
            <input class="signinbox" type= "password" name= Password placeholder="Password" required>
            <input class="signinbox" type= "password" name=cPassword placeholder="Confirm Password" required>
                 I certify that I am 18 years of age or older, and I agree to
                       <br>the<a href="#"> Terms and condition </a> 
                   and<a href="#"> Privacy policy</a><br> 
                   <br>
            <input class="signupbtn" type = "submit" name= Login >
          </div>
   <br>
   
    </form>
</div>

</body>


</html>